* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
}
.display {
  padding-inline-end: 20px;
  text-align: right;
  color: orangered;
  background-color: light;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  border: black solid 2px;
}
.button-container {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.button-container > button {
  border-top: 1px solid black;
}
.button-number {
  border: 0 5px solid black;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
.button-operator {
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
#equal {
  background-color: orangered;
  color: black;
}
.button-number:hover {
  background-color: blue;
  color: orangered;
  transition: 0.5 ease-in-out;
}
.button-operator:hover {
  background-color: blue;
  color: orangered;
  transition: 0.5 ease-in-out;
}
@media (max-width: 600px) {
  .calc-page {
    background-color: lightslategrey;
  }
}
